# Copyright 2025 edcsnt. All rights reserved.
# require TypeScript
**/*.js
**/*.jsx
# build
**/*.egg-info/
dist/
# bytecode
**/__pycache__/
# pylint
deps.svgz
# Ruff
.ruff_cache/
# tox
.tox/
# Vale
.vale/*
!.vale/config/
